.str-chat__message-livestream-content {
	text-align: left !important;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: black !important;
}
.profile-head h5, .profile-head h6 {
    color: #871eff !important;
}
#fragment_background {
	background: black !important;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
    box-shadow: 7px 7px 7px #871eff !important;

}
.tab-pane label {
    color: #87e1ff;
}
.tab-pane p {
    color: #871eff !important;
}
#home-tab {
    color: #37be43 !important;
    background: black;
    box-shadow: 7px 7px 7px #871eff !important;
}
.text-red {
    color: #37be43 !important;
    padding: 20px 100px;
}
#profile-tab {
    color: #37be43 !important;
    background: black;
    box-shadow: 7px 7px 7px #871eff !important;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
#subscribeModal .modal-content{
	overflow:hidden;
}
a.h2{
    color:#007b5e;
    margin-bottom:0;
    text-decoration:none;
}
#subscribeModal .form-control {
    height: 56px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
	padding-left:30px;
}
#subscribeModal .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	padding-right:20px;
	background:#007b5e;
	border-color:#007b5e;
}
#subscribeModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007b5e;
    outline: 0;
    box-shadow: none;
}
#subscribeModal .top-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -94px;
    margin-right: 190px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .bottom-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(112deg);
    margin-top: -110px;
    margin-right: -215px;
    margin-left: 300px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}

/**************************/
/****** modal-lg stips *********/
/**************************/
#subscribeModal .modal-lg .top-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -106px;
    margin-right: 457px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .modal-lg .bottom-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(135deg);
    margin-top: -115px;
    margin-right: -339px;
    margin-left: 421px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}

/****** extra *******/
#Reloadpage{
    cursor:pointer;
}
.modal-body {
    background-color: #0836bf !important;
}
#modal_content {
	background: black !important;
	color: white !important;
}
#modalll {
	z-index: 999 !important;
	position: fixed;
    background-color: black !important;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 50px;
}

.searchTerm {
  width: 100% !important;
  border: 3px solid #871eff !important;
  border-right: none !important;
  padding: 5px !important;
  height: 100% !important;
  border-radius: 5px 0 0 5px !important;
  outline: none !important;
  color: #9DBFAF !important;
  padding-bottom: 7px;
}

.searchTerm:focus{
  color: #00B4CC !important;
}
#label {
    color: #37be43 !important;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #871eff;
  background: #871eff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.custom_tips {
    list-style-type: none;
    height: 350px;
    overflow-y: scroll;
    border: 3px solid white;
    box-shadow: 10px 10px 10px #871eff;
}
.custom_tips li {
    background-color: white !important;
    color: black !important;
    margin-left: 8px;
}
#corner_me {
    right: 0 !important;
    bottom: 0 !important;
    position: fixed;
    z-index: 99999;
    width: 500px !important;
    height: 300px !important;
}
#no-corner {
    position: relative;
}
#vid_container {
    width: 60vw;
}
#chattt {
    width: 35vw;
}
@media only screen and (max-width: 750px) {
    #vid_container {
        width: 100%;
        height: 250px;
    }
    #chattt {
        width: 100%;
    }
    #corner_me {
        right: 0 !important;
        bottom: 0 !important;
        position: fixed;
        z-index: 99999;
        width: 100% !important;
        height: 200px !important;
    }
}