.purple_neon_btn {
  box-shadow: 4px 4px 4px #871eff !important;
  color: white !important;
  background: black;
  border: 3px solid #871eff !important;
}
.purple_neon_btn:hover {
  box-shadow: 5px 5px 5px pink !important;
  color: white !important;
  background: black;
  border: 3px solid pink !important;
}
/* #871eff - purple */
.my-4 {
  border-bottom: 3px solid #871eff !important;
}

.green_button_custom {
  color: white !important;
  background: white;
  border: 3px solid #37be43 !important;
}
.green_button_custom:hover {
  color: white !important;
  background: transparent;
  border: 3px solid lightgreen !important;
  box-shadow: 3px 3px 3px lightgreen !important;
  color: lightgreen;
}
.aqua_button_custom {
  color: white !important;
  background: white;
  border: 3px solid #87e1ff !important;
}
.aqua_button_custom:hover {
  color: white !important;
  background: transparent;
  border-bottom: 3px solid #87e1ff !important;
  box-shadow: 5px 5px 5px pink;
}