html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bold {
	font-weight: bold;
}
#home {
	background: transparent;
}
.hover:hover {
	cursor: pointer;
}
.underline {
	text-decoration: underline;
}