.dropdown_custom {
	background-color: white !important;
}
.link-a:hover {
	cursor: pointer;
}
.drop {
	color: black !important;
}
.drop:hover {
	color: tan !important;
	cursor: pointer;
}
.panel-body strong {
	color: white;
}
.user-tabs {
	background: #871eff;
}
.fb-profile-block-menu li a {
	color: white !important;
}
.panel-body th {
	color: #37be43 !important;
}
.panel-body td {
	color: #871eff !important;
}
.panel-body li {
	color: #871eff !important;
}
.user-tabs .tab {
	background: black !important;
}
#text_text_text {
	width: 550px;
}
@media only screen and (max-width: 750px) {
	.user-tabs .tab {
		width: 100% !important;
	}
	#pop_pop {
		width: 100vw !important;
		margin-left: 0 !important;
	}
	#text_text_text {
		width: 90vw;
	}
	#cover_cover_photo {
		object-fit: contain;
		height: 2000px !important;
		max-height: 100%;
		min-height: 50vh;
		max-width: calc(100% + 13.5px);
		margin-top: 0px !important;
		vertical-align: middle;
		position: relative;
	}
}
.user-tabs .tab:active {
	background: black !important;
}
.user-tabs .tab span {
	color: white !important;
}
.tabs {
	background: black;
}
.special_icon {
	float: right !important;
	right: 0 !important;
	padding: 20px 20px 0px 0px;
	z-index: 999999999 !important;
	position: absolute !important;
}
#cover_cover_photo {
	object-fit: contain;
	height: auto;
	max-height: 100%;
	max-width: calc(100% + 13.5px);
	margin-top: -250px;
}

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.black_font {
	color: black !important;
}