.dropdown_custom {
	background-color: white !important;
}
.link-a:hover {
	cursor: pointer;
}
.drop {
	color: black !important;
}
.drop:hover {
	color: tan !important;
	cursor: pointer;
}
.panel-body strong {
	color: white;
}
.user-tabs {
	background: #871eff;
}
.fb-profile-block-menu li a {
	color: #37be43 !important;
}
.panel-body th {
	color: #37be43 !important;
}
.panel-body td {
	color: #871eff !important;
}
.panel-body li {
	color: #871eff !important;
}
.user-tabs .tab {
	background: black !important;
}
#text_text_text {
	width: 550px;
}
@media only screen and (max-width: 750px) {
	.user-tabs .tab {
		width: 100% !important;
	}
	#pop_pop {
		width: 100vw !important;
		margin-left: 0 !important;
	}
	#text_text_text {
		width: 90vw;
	}
}
.user-tabs .tab:active {
	background: black !important;
}
.user-tabs .tab span {
	color: white !important;
}
.tabs {
	background: black;
}
.special_icon {
	float: right !important;
	right: 0 !important;
	padding: 20px 20px 0px 0px;
	z-index: 999999999 !important;
	position: absolute !important;
}
#cover_cover_photo {
	object-fit: contain;
	height: auto;
	max-height: 100%;
	max-width: calc(100% + 13.5px);
	margin-top: -250px;
}