.nav-link {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 0px;
	color: black;
}
.link {
	list-style-type: none;
	margin-right: 30px;
}
.pink_button {
	border: 2px solid pink !important;
}
.pink_button:hover {
	border: 2px solid purple !important;
}