.content-box {
	max-height: 50vh;
	overflow-y: scroll;
	border: 3px solid black;
	border-radius: 20px;
	background: #690354;
	color: white;
	padding: 10px;
}
.my-white {
	border-bottom: 2px solid white;
}
.rules_list li {
	text-align: left;
}
.details {
	background-color: #690354;
	color: white;
}
.red {
	color: red;
}
.custom_upload_img {
	width: 100%; 
	height: 300px; 
	box-shadow: 7px 7px 7px pink;
	border: 2px solid black;
}
.custom_upload_img:hover {
	width: 100%; 
	height: 300px; 
	box-shadow: 7px 7px 7px purple;
	border: 2px solid black;
}
.custom_card_two {
	height: 100%;
	background: #690354 !important;
	color: white;
	margin: 50px 10px 100px 10px;
}
.pink_background {
	background-color: lightpink;
	height: 1500px;
}